[color]
  ui = auto
[commit]
  gpgsign = true
[core]
  excludesfile = $HOME/.gitignore
[diff]
  tool = kitty
[difftool]
  prompt = false
  trustExitCode = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[include]
  path = /home/brunomafioletti/.gitconfig.local
